	/* define variables here */
		html { 
			--bg-color: #f0dfb4; 
		}

		/** default property values for p-tag **/
		
		p { 
			padding: 16px; 
			margin: 6px; 
			border: 3px solid #333; 
		/**	height: 200px;   **//** FIX-ME: causes text to overlap **/
			/* need to remove horizontal scroll bar **/
		/**	width: 300px;  **/ /** FIX-ME: causes text to overlap **/
			box-sizing: border-box;     
		}
		

		/** override border color when window size above 500 pix **/
		
		@media (min-width: 500px){ 
			p { 
				border: 3px solid red; 
			} 
		}
		@media (max-width: 500px){ 
			p { 
				width: 100%; 
			} 
		}
	

		body { 
			margin: 0; 
			color: #333; 
			font-family: Verdana, Arial, sans-serif; 
		/**	font-family: 'Lato', sans-serif;  **/
			 background-color: #ddd;

			}

		@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
		
		header { 
			font-family: 'Crushed', cursive; 
			}
		
		.nav { 
			list-style: none; 
			padding: 0; 
			position: absolute;
			right: 0;
			top: 60px;
			}
		.nav li { 
			display: inline-block; 
			margin-right: 10px; 
			}
		.nav a { 
			color: #fff; 
			text-decoration: none; 
			padding: 4px; 
			display: block; 
			background-color: #600;
			background-color: var(--bg-color);
			transition: all 0.5s linear;
			}
		.nav a:hover { 
			color: #fff; 
			background-color: #795548; 
			}
		aside {
			position: absolute; 
			top: 200px; 
			left: 10px; 
			width: 180px; 
			background-color: var(--bg-color); 
			padding: 6px; 
			border: 1px solid #600;
			border-radius: 6px;
			box-shadow: 3px 4px 3px 2px #d6d6d6;
		}
		aside th {
			text-align: right;
		}
		aside ul { 
			list-style: none; 
			margin: 1em; 
			padding: 0; 
			}
		article {
			margin: 0 20px 0 240px;
		}
		blockquote {
			float: right; 
			width: 40%;
			padding: 16px; 
			font-size: 24px; 
		}
		article img {
			float:  right;

		}
		#wrapper {
			position: relative;
			width: 840px;
		max-width: 840px; /* center in browser **/
			margin: 0 auto 0 auto;
			background-color: #fff;
			box-shadow: 10px 10px 20px #ddd;
		}
		h1, h2 { 
			color: #600; 
			margin-top: 20px; 
			margin-left: 20px; 
			font-size: 3rem; 
			margin-bottom: 0; 
			
			}
		h2 { 
			font-size: 32px; 
			margin-top: 0; 
			}

		.review-page .review-link {
			color: #fff;
			background: #600;
		}
		@media print { 
			* { 
				display: none !important; 
			} 
		} 
		@media all and (max-width: 800px) { 
			.nav { 
				position: static;
				top: 0; 
				left:0; 
				margin: 0; 
				
				} 
			
			aside { 
				position: static; 
				float: left; margin-right: 20px; 
				} 
			article { 
				margin-left: 20px; 
				} 
			blockquote { 
				width: 100%; 
				float: none; 
				margin: 0; 
				} 
			
}
